.address {
  
  @include list-unstyled;

  color: $timetable_color;
  font-size: 12px; //14
  font-style: normal;

}

@media (min-width: $tablet-width) { 
  .address {
    display: flex;
    justify-content: space-between;
    
    & li {
      margin-right: 10px;
    }
  }
}

@media (min-width: $tablet-width) { 
  .address {
    
    & li {
      font-size: 14px;
      line-height: 17px;
    }
    
  }
}