.address {
  
  @include list-unstyled;

  color: $timetable_color;
  font-size: 12px; //14
  font-style: normal;
  
  &__item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    & span {
      display: block;
    }
  }

  &__text {
    padding-left: 5px;
  }

}

@media (min-width: $tablet-width) { 
  .address {
    display: flex;
    justify-content: space-between;
    
    &__item {
      font-size: 11px;
      margin-right: 4px;

    }
  }
}

@media (min-width: $desktop-width) { 
  .address {
    
    & li {
      font-size: 14px;
      line-height: 17px;
    }
    
  }
}