.expert {
  background-color: $section_bg_color;
  text-align: center;
  padding-top: 20px;
  
  &__tel {
  	border-radius: 34px;
  	border: none;
  	font-size: 14px;
  	padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
  }

  &__button {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: $tablet-width) {
  .expert {
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 40px;

    &__title {
      text-align: left;  
    }

    &__text {
      margin-bottom: 40px;
      text-align: left;
    }

    &__form {
      text-align: left;
    }
    
    &__wrapper {
      display: flex;
      align-items: center;
    }

    &__tel {
      padding-top: 12px;
      padding-bottom: 12px;
    }

    &__button {
      padding-left: 30px;
      padding-right: 30px;
      position: relative;
      left: -30px;
    }
  }  
}

@media (min-width: $desktop-width) {
  .expert {
   
    padding-top: 2px;
    padding-bottom: 20px;
    margin-bottom: 100px;
    background-image: url('../img/expert-right-bg.svg'), url('../img/expert-left-bg.svg');
    background-position-y: top, bottom;
    background-position-x: right, left;
    background-repeat: no-repeat, no-repeat;
    

    &__block {
      width: 50%;
    }

    &__text {
      text-align: left;
      padding-right: 40px;  
    }

    &__title {
     text-align: left; 
    }

    &__tel {
      padding-top: 23px;
      padding-bottom: 23px;
      width: 330px;
    }

    &__button {
      left: -44px;
    }


  }
}



    