.footer {
  padding-top: 14px;
  padding-bottom: 14px;
  color: $footer_color;
  background-image: $footer_bg;

  &__contacts {
    margin-bottom: 18px;
  }

  &__social {
    margin-bottom: 10px;
  }

  &__menu {
    margin-bottom: 25px;
  }

  &__menu-list {
  	@include list-unstyled;
  }

  &__menu-item {
    margin-bottom: 8px;
  }

  &__menu-link {
  	color: #9FB4FF;
  	font-size: 14px;
  }

  &__address {
  	color: $footer_color;
  	font-size: 14px;
    opacity: 0.7; 
  }

  & .address__tel-link {
    color: $footer_color;	
  }

  &__logo-title {
  	font-family: $font_philosopher;
  	font-size: 18px;
  	margin-bottom: 0;
  }

  &__logo-subtitle {
  	margin-top: 0;
    font-size: 14px;
    opacity: 0.7;	
  }

  &__social svg path, &__social svg circle {
    stroke: #fff;
  }
}

@media (min-width: $tablet-width) {
  .footer {
    &__address {
      flex-direction: column;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
    }

    &__menu {
      margin-top: 20px;
      display: flex;     
    }

    &__menu-list {
      padding-right: 40px;
      //margin-right: 60px;
    }
  }
}

@media (min-width: $tablet-width) {
  .footer {

    padding-bottom: 20px;

    &__logo-title {
      font-size: 27px;
      line-height: 30px;
    }

    &__logo-subtitle {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 40px;
    }
    
    &__address li {
      font-size: 18px;
      line-height: 22px;
    }

    &__menu-item {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &__menu-link {
      font-size: 18px;
      line-height: 21px
    }

    &__social {
      margin-bottom: 30px;
    }

  }

}

@media (min-width: $desktop-width) {
  .footer {
    
    &__menu-list {
      padding-right: 120px;
    }
  }
}