.header {
  &__call {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px; 
    margin-bottom: 20px;
  }

  &__main {
    margin-bottom: 30px;
  }

  &__contacts {
    padding-left: 15px;
    padding-right: 15px;
  }


  &__link {
  	font-size: 16px; //18
    line-height: 34px;
    //background: linear-gradient(to top, $decor-color 40%, transparent 10%);
    text-align: center;
    position: relative;
    
    &::after {
      position: absolute;
      content: '';
      bottom: 8px;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: $decor-color;
      z-index: -1;
    }
  }

  & .address__tel-link {
  	color: $timetable_color;
  }
}

@media (min-width: $tablet-width) {
  .header { 
    &__wrapper {
      display: flex;
      justify-content: space-between;
      padding-left: 15px;
      padding-right: 15px;

    }
  
    &__call {
      flex-direction: column;
      justify-content: center;
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0; 
    }

    &__link {
      font-size: 14px;
      margin-bottom: 10px;
      
      &::after {
        bottom: 11px;
      }

    }

    &__contacts {
      padding-left: 0;
      padding-right: 0;
    }

    &__main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 0;
      padding-top: 20px;
      padding-bottom: 10px;
    }
  }  
}

@media (min-width: $desktop-width) {
  .header { 

    &__wrapper {
      width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-left: 0;
    }
    
    &__link {
      font-size: 18px;
      line-height: 21px;
    }

    &__logo {
      width: 20%;
    }
    
    &__main {
      width: 60%;
    }

    &__call {
      //width: 15%;
    }



  }

}