.logo {
  &__title {
    font-family: $font_philosopher;
    color: $title_color;
    font-weight: bold;
    font-size: 27px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 0;
  }

  &__subtitle {
    font-size: 14px;
    line-height: 17px;
    color: $link_color;
    text-align: center;
    letter-spacing: 0.18em;
    margin-top: 0;
  }

}

@media (min-width: $tablet-width) {
  .logo {
    &__title {
      font-size: 17px;
      line-height: 25px;
    }

     &__subtitle {
      font-size: 10px;
      line-height: 15px;
     }

  }
}

@media (min-width: $desktop-width) {
  .logo {
    &__title {
      font-size: 27px;
      line-height: 30px;
    }

     &__subtitle {
      font-size: 14px;
      line-height: 17px;
     }

  }
}

