.menu {
  background-color: #d9dde4;
  position: relative;
  
  &__list {
    @include list-unstyled;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__item {
  	padding-top: 8px;
  	padding-bottom: 8px;

   
    &_dropdown .menu__link::after {     
      content: '';
      display: inline-block;
      width: 11px;
      height: 7px;
      margin-left: 2px;
      background-position: 100%;
      background-repeat: no-repeat;
      background-image: url('../img/sprite-arrow-down.svg');
    }

  }

  &__link {
  	font-size: 16px;
    color: $text_color;

    & sup {
      color: $decor_color;
    }
  }

  &__dropdown-list {
  	display: none;
  }

  &__button {
  	position: absolute;
  	top: -45px;
  	right: 10px;
  	width: 50px;
    height: 40px;
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
  }
}

@media (max-width: $mobile-width-only) {
  .js-menu_closed .menu__list {
    display: none;
  }

  .js-menu_closed .menu__button::before {
    content: '';
    position: absolute;
    top: 7px;
    right: 9px;
    width: 23px;
    height: 3px;
    background-color: black;
    box-shadow: 0 8px 0 0 black, 0 16px 0 0 black;
    z-index: 40;
  }

  .js-menu_opened .menu__list {
    display: block;
  }

  .js-menu_opened .menu__button {
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 16px;
      left: 20px;;
      z-index: 30;
      width: 23px;
      height: 3px;
      background-color: black;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

@media (min-width: $tablet-width) { 
  .menu {

    background-color: transparent;

    &__list {
      display: flex;
      justify-content: space-between;
      padding-left: 0;
      padding-right: 0;
    }


    &__link {
      font-size: 12px;
    
    }
  }
}

@media (min-width: $desktop-width) { 
  .menu {

    &__item {
      padding-top: 0;
      padding-bottom: 20px;
      border-bottom: 1px solid #fff;
    }
    
    &__item_dropdown {
      
      &:hover {
        border-bottom: 1px solid $link_color;
      }


      &:hover .menu__dropdown-list {
        visibility: visible;
        opacity: 1;
      }

      & .menu__link {
        position: relative;
      }
    }

    &__link {
      font-size: 16px;
      line-height: 19px;
    }

    &__dropdown-list {
      @include list-unstyled;
      display: block;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s 700ms, opacity 0.5s linear;
      //transition: height 0ms 800ms, opacity 400ms 0ms; 
      //transition-delay:     
      background-color: #fff;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      position: absolute;
      border-radius: 4px;
      top: 52px;
      left: 0;
      box-shadow: 0px 4px 30px rgba(7, 26, 68, 0.16);
      z-index: 100;
      width: 250px;

      &:after {
        content: ''; 
        position: absolute; 
        left: 20px; 
        top: -19px; 
        border: 10px solid transparent; 
        border-bottom: 10px solid #fff;
      }
    }

    &__dropdown-item {
      padding-top: 8px;
      padding-bottom: 8px;
      border-bottom: 1px solid #E5E8F0;

      & a {
        color: $text_color;
      }

      &:hover a {
        color: $link_color
      }
      
      &:last-child {
        border-bottom: none;
      } 
    }


  }
}