.page {

  &__container {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__section-title {
  	margin-top: 30px;
  	font-size: 18px; //34
    text-align: center;
  }

  &__section-text {
    font-size: 12px;
    line-height: 18px;
    text-align: center;

    &_hero {
      text-align: left;
      text-shadow: 2px 2px 4px #e4ddbf;
    }
  }
}

@media (min-width: $tablet-width) { 
  .page {

    &__section-title {
      font-size: 30px;
      line-height: 46px;
    }
    
    &__section-text { 
      font-size: 14px;
      line-height: 19px;

      &_hero {
        text-shadow: none;
        padding-right: 350px;
      }
    }
  }
}



@media (min-width: $desktop-width) { 
  .page {

    &__section-title {
      font-size: 34px;
      line-height: 41px;
    }
    
    &__section-text { 
      font-size: 18px;
      line-height: 32px;

      &_hero {
        padding-right: 760px;
      }
    }

    &__container {
      width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0;
    }  
  }
  
}
