.social {
  @include list-unstyled; 
 
  display: flex;
  justify-content: start;
  align-items: center;

  &__item {
  	margin-right: 10px;
  }
}

@media (min-width: $desktop-width) { 
  .social {
    
  }
}