$font_philosopher: "Philosopher", "Arial", sans-serif;
$font_open: "Open Sans", "Arial", sans-serif;
$title_color: #1F3744;
$text_color: #3C445E;
$link_color: #163993;
$timetable_color: #656F86;
$button_bg: linear-gradient(180deg, #FFCF41 0%, #F6BE1A 100%);
$butoon_radius: 34px;
$section_bg_color: #EFF6FB;
$social_menu_color: #FFB932;
$social_footer_color: #9FB4FF;
$footer_color: #FFFFFF;
$footer_bg: linear-gradient(106.99deg, #163993 0%, #0C4F9D 100%);
$mobile-width: 320px;
$mobile-width-only:767px;
$tablet-width: 768px;
$desktop-width: 1200px;
